<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <h1 class="blog-title">Simple Blog</h1>

    <div class="container">

        <% for(post of posts) { %>
            <div class="post">
                <h2 class="post-username">@ <%= post.username %></h2>
                <h4 class="post-content">Blog -- <%= post.content %></h4>
                <div class="post-buttons">
                    <a href="/posts/<%=post.id%>" class="btn detail-btn">See in details</a>
                    <a href="/posts/<%=post.id%>/edit" class="btn edit-btn">Edit</a>
                    <a href="/posts/new" class="btn new-btn">Create New Post</a>
                    <form action="/posts/<%=post.id%>?_method=DELETE" method="POST">
                        <button class="btn delete-btn">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>

    </div>
</body>

</html>
